#! /usr/bin/env bash

alias ll="ls -al"
alias vi="vim --noplugin"

# git
alias status="git status"
alias pull='git pull'
alias push='git push'
alias add='git add .'
alias commit='git commit -m '
alias checkout='git checkout'
alias fetch=' git fetch upstream'
alias merge='git merge'

# net
alias myip="ifconfig | grep '192'"

# java antlr4
alias antlr4='java -jar /usr/local/lib/antlr-4.7.2-complete.jar'
alias grun='java org.antlr.v4.gui.TestRig'

# ranger
alias lgit='lazygit'
alias ra='ranger'
